@font-face {
    font-family: 'Swear Display';
    src: url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-BoldCilati.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-BoldCilati.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Cilati.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Cilati.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Bold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-BoldItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/lakshay0825/SwearDisplay/refs/heads/main/SwearDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

