@font-face {
    font-family: 'Swear Display';
    src: url('SwearDisplay-BoldCilati.eot');
    src: url('SwearDisplay-BoldCilati.eot?#iefix') format('embedded-opentype'),
        url('SwearDisplay-BoldCilati.woff2') format('woff2'),
        url('SwearDisplay-BoldCilati.woff') format('woff'),
        url('SwearDisplay-BoldCilati.ttf') format('truetype'),
        url('SwearDisplay-BoldCilati.svg#SwearDisplay-BoldCilati') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('SwearDisplay-Regular.eot');
    src: url('SwearDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SwearDisplay-Regular.woff2') format('woff2'),
        url('SwearDisplay-Regular.woff') format('woff'),
        url('SwearDisplay-Regular.ttf') format('truetype'),
        url('SwearDisplay-Regular.svg#SwearDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('SwearDisplay-Cilati.eot');
    src: url('SwearDisplay-Cilati.eot?#iefix') format('embedded-opentype'),
        url('SwearDisplay-Cilati.woff2') format('woff2'),
        url('SwearDisplay-Cilati.woff') format('woff'),
        url('SwearDisplay-Cilati.ttf') format('truetype'),
        url('SwearDisplay-Cilati.svg#SwearDisplay-Cilati') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('SwearDisplay-Bold.eot');
    src: url('SwearDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SwearDisplay-Bold.woff2') format('woff2'),
        url('SwearDisplay-Bold.woff') format('woff'),
        url('SwearDisplay-Bold.ttf') format('truetype'),
        url('SwearDisplay-Bold.svg#SwearDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swear Display';
    src: url('SwearDisplay-BoldItalic.eot');
    src: url('SwearDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SwearDisplay-BoldItalic.woff2') format('woff2'),
        url('SwearDisplay-BoldItalic.woff') format('woff'),
        url('SwearDisplay-BoldItalic.ttf') format('truetype'),
        url('SwearDisplay-BoldItalic.svg#SwearDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

